/*** ButtonGroupComponent ***/

.button-group-component .button {
	outline: 0;
	margin: 0 2px;
}

.button-group-component .button:active {
	outline: 0;
}

.button-group-component .button.selected {
	border-color: var(--secondary-color);
}
